/* Loader container */
.loader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #3490dc;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

/* Loader animation */
@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.dot1 {
  animation-delay: -0.32s;
}

.dot2 {
  animation-delay: -0.16s;
}
